* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

.why {
    padding: 50px 0;
}

.container {
    width: 90%;
    margin: 0 auto;
    display: flex;
}

.left-col {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    margin-right: 70px;
}

.right-col {
    width: 40%;
    /* height: 100%; */
    background: #222;
    padding: 50px;
    position: relative;
}

.left-col__header {
    width: 100%;
    font-size: 30px;
    letter-spacing: 1px;
    margin-top: 70px;
}

.block {
    width: 33%;
    margin-top: 30px;
}

.block__icon {
    width: 20px;
}

.block__icon:hover {
    transform: rotate(360deg);
    transition: 0.3s;
}

.block__text {
    font-size: 14px;
    line-height: 1.5;
    margin-top: 30px;
    opacity: .8;
}

.price {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 50px;
}

.price::before {
    content: '';
    display: block;
    position: absolute;
    width: 2px;
    height: 120%;
    background-image: linear-gradient(to bottom, #a445b2, #d41872 52%, #f06);
    left: 30px;
    bottom: 0;
}

.btn {
    width: 50%;
    margin: 0 auto;
    height: 40px;
    object-fit: contain;
    border-radius: 100px;
    background-image: linear-gradient(257deg, #a445b2, #d41872 52%, #f06);
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.3);
    color: #fff;
    border: none;
    font-family: "Open Sans";
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 36px;
    text-align: center;
    padding-left: 19px;
    padding-right: 19px;
    transition: all .3s;
    cursor: pointer;
}

.price__block {
    color: white;
    margin-top: 30px;
}

.price-name {
    font-size: 20px;
    float: left;
    padding-left: 26px;
    background-image: url(./img/plus-m.png);
    background-size: 16px auto;
    background-repeat: no-repeat;
    background-position: 0 5px;
}

.prices-price {
    font-size: 22px;
    float: right;
    text-align: right;
}

@media screen and (max-width: 768px){
    .container {
        flex-direction: column;
    }

    .left-col {
        width: 100%;
        margin-bottom: 50px;
    }

    .right-col {
        width: 85%;
    }
}

@media screen and (max-width: 480px){
    .block {
        width: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .right-col {
        width: 75%;
    }
}

/* Starting second section */

.creation {
    background-color: #222;
    background-image: linear-gradient(to right, rgba(242, 36, 86, 0.5) 1px, transparent 1px);
    background-size: 198px;
    position: relative;
}

.graphic {
    width: 200px;
    background-color: #f22456;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}